<div class="dash-item">
  <h1>Dashboard#home</h1>
  <p>Find me in app/views/dashboard/home.html.erb</p>
</div>
<div class="dash-item">
  <%= link_to "Create Post!", new_post_path, class: "button is-light is-link" %>

</div>
<div class="dash-item">
  <p>My posts:</p>
  <% @my_posts.each do |post| %>
    <div class="dash-item">
      <%= content_tag :div, post.content %>
      <%= content_tag :div, post.created_at %>
    </div>
  <% end %>

</div>

