/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bulma";
@import "font-awesome-sprockets";
@import "font-awesome";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.todo {
  background-color: tomato;
  color:white;
}
aside {
  //position: absolute;
  width: 25vw;
  //right: 0;
}

.friend-aside div{

}
.freq-container, .user-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}

.freq-item, .user-item {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;

}




.admin-session div {
  border: 3px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.navbar {
  align-items: center;
}
.navbar-brand {
  margin-left: 10vw;
}

.main-body {
  position: absolute;
  width: 50vw;
  height: 100vh;
  left:0;
  right:0;
  margin:auto;
}

.center-container {
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;

}

.welcome {
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items:center;

  height: 20vh;
  width: 30vw;
}


