// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.signup-form {
  position: fixed;
  left: 20%;
  width: 40%;
}

.user-container {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;

}

.user-container .user-info {
  //align-self: flex-start;
}

.user-container .user-buttons {
  //display: relative;
  //align-self: flex-end;
}

.friend-container {
  border: 2px solid black;
}
