<div class="main-body center-container">
  <div class="welcome">
    <p>WELCOME</p>
    <%= link_to "Sign up", signup_path, class: "navbar-item button is-large is-link" %>
    <%= link_to "Log in", login_path, class: "navbar-item button is-large is-info" %>
  </div>
</div>
